<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test" thread-count="10" parallel="true">
    <classes>
      <class name="CTD_Unprocessed_Events_Endpoint.Disciplinary_charge_insert_and_delete"/> 
      <class name="CTD_ContractTests.Trans"/>
      <class name="CTD_Unprocessed_Events_Endpoint.TransferReason"/>
      <class name="CTD_Unprocessed_Events_Endpoint.Statutes"/>
      <class name="CTD_Unprocessed_Events_Endpoint.Location"/>
      <class name="CTD_Unprocessed_Events_Endpoint.act_event"/>
      <class name="CTD_Unprocessed_Events_Endpoint.Disciplinary_charge_regulation"/>   
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
