<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="CTD_ContractTests.disc_chrg_reg"/>
      <class name="CTD_ContractTests.disc_chrg"/>
      <class name="CTD_ContractTests.Stat"/>
      <class name="CTD_ContractTests.at_event"/>
      <class name="CTD_ContractTests.Transrea"/>
      <class name="CTD_ContractTests.dynamics"/>
      <class name="CTD_ContractTests.disc_chrg_insanddel"/>
      <class name="CTD_ContractTests.Trans"/>
      <class name="CTD_ContractTests.loc_event"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
